In [8]:
import pandas as pd

count_df = pd.read_excel(r'C:\Users\dell\Desktop\img\MOCK_DATA.xlsx')
count_df

,customer_id,first_name,last_name,age,email,country,postal_code,favorite_color,gender,job_title
0,4,Curtice,Cannop,58,ccannop0@earthlink.net,France,63804 CEDEX,green,Transsexual,Payment Adjustment Coordinator
1,2,Mignonne,Lemmen,62,mlemmen1@walmart.com,Russia,461990,blue,Trans Man,Engineer II
2,3,Doug,Spark,51,dspark2@utexas.edu,China,NaN,red,Androgyne,Clinical Specialist
3,8,Orion,Burford,21,oburford3@ca.gov,Antigua and Barbuda,NaN,blue,Gender Fluid,Geologist IV
4,9,Ansley,Swindlehurst,32,aswindlehurst4@webs.com,Greece,NaN,blue,Other,Statistician II
...,...,...,...,...,...,...,...,...,...,...
995,8,Sigmund,Dibling,79,sdiblingrn@seattletimes.com,Nigeria,NaN,red,Agender,Research Assistant IV
996,6,Bjorn,Minico,67,bminicoro@histats.com,China,NaN,red,Gender Fluid,Senior Quality Engineer
997,9,Harley,Romi,53,hromirp@lulu.com,France,27095 CEDEX 9,red,Trans Person,Senior Developer
998,5,Peta,Parris,60,pparrisrq@ustream.tv,Poland,36-231,green,Transgender Female,Senior Quality Engineer
999,4,Christopher,Pardi,58,cpardirr@goo.gl,Indonesia,NaN,red,Cis Female,Help Desk Operator

In [9]:
pd.__version__

'2.0.3'