In [3]:
import pandas as pd

obj = pd.Series ([1, "Ali", 3.5, "Hey"])
obj

0      1
1    Ali
2    3.5
3    Hey
dtype: object

In [4]:
obj[0]

1

In [5]:
obj.values

array([1, 'Ali', 3.5, 'Hey'], dtype=object)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
import pandas as pd

obj = pd.Series (data = [1, "Ali", 3.5, "Hey"], index=['a', "b", 'c', "d"])
obj

a      1
b    Ali
c    3.5
d    Hey
dtype: object

In [9]:
obj['a']

1

In [11]:
obj.loc["a"]

1

In [12]:
obj.values

array([1, 'Ali', 3.5, 'Hey'], dtype=object)

In [13]:
obj.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
import pandas as pd

score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}

ser = pd.Series(data=score)

ser

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [16]:
ser["Jane"]

90

In [19]:
ser[ser > 85]

Jane    90
Tim     95
dtype: int64

In [20]:
ser > 85

Jane     True
Bill    False
Elon    False
Tom     False
Tim      True
dtype: bool

In [21]:
ser

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [23]:
ser["Jane"] = 60

ser

Jane    60
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [32]:
import numpy as np
np.random.seed(1)
ser["Jane"] = np.random.randint(90, 100)

ser

Jane    95
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [34]:
ser[ser<=85] = 100

ser

Jane     95
Bill    100
Elon    100
Tom     100
Tim      95
dtype: int64

In [37]:
"Jane" in ser

True

In [42]:
"Kane" in ser

False

In [44]:
ser=ser/10

ser

Jane     9.5
Bill    10.0
Elon    10.0
Tom     10.0
Tim      9.5
dtype: float64

In [45]:
ser = ser**2

ser

Jane     90.25
Bill    100.00
Elon    100.00
Tom     100.00
Tim      90.25
dtype: float64

In [64]:
import pandas as pd

score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":95}

ser = pd.Series(data=score)

ser

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [68]:
ser = ser / 10
ser

Jane    9.0
Bill    8.0
Elon    8.5
Tom     7.5
Tim     9.5
dtype: float64

In [69]:
ser = ser * 10
ser

Jane    90.0
Bill    80.0
Elon    85.0
Tom     75.0
Tim     95.0
dtype: float64

In [72]:
ser = ser.astype('int64')
ser

Jane    90
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [87]:
import pandas as pd

score={"Jane":90, "Bill":80,"Elon":85,"Tom":75,"Tim":None}

ser = pd.Series(data=score)

ser

Jane    90.0
Bill    80.0
Elon    85.0
Tom     75.0
Tim      NaN
dtype: float64

In [88]:
ser.isnull()

Jane    False
Bill    False
Elon    False
Tom     False
Tim      True
dtype: bool

In [91]:
ser.isna()

Jane    False
Bill    False
Elon    False
Tom     False
Tim      True
dtype: bool