In [1]:
import pandas as pd
import numpy as np
ser=pd.Series(data=[1,2,3,4],
            index=["a","b","c","d"])
ser

a    1
b    2
c    3
d    4
dtype: int64

In [2]:
ser["a"]

1

In [3]:
ser = ser.reindex(index=["c","d","a","b"])

ser

c    3
d    4
a    1
b    2
dtype: int64

In [4]:
ser = ser.reindex(index=["c","d","a","b", "g"])

ser

c    3.0
d    4.0
a    1.0
b    2.0
g    NaN
dtype: float64

In [5]:
ser=pd.Series(["blue","yellow","purple"],
             index=[0,2,4])
ser

0      blue
2    yellow
4    purple
dtype: object

In [6]:
ser.reindex(index=range(6), method='ffill')

0      blue
1      blue
2    yellow
3    yellow
4    purple
5    purple
dtype: object

In [7]:
df=pd.DataFrame(data=np.arange(9).reshape(3,3),
                index=["a","c","d"],
                columns=["Tim","Tom","Kate"])
df

   Tim  Tom  Kate
a    0    1     2
c    3    4     5
d    6    7     8

In [8]:
df_2 = df.reindex(index=["d","c","b","a"])

df_2

   Tim  Tom  Kate
d  6.0  7.0   8.0
c  3.0  4.0   5.0
b  NaN  NaN   NaN
a  0.0  1.0   2.0

In [9]:
names = ["Kate","Tim", 'Jane', "Tom"]
df_2.reindex(columns=names)

   Kate  Tim  Jane  Tom
d   8.0  6.0   NaN  7.0
c   5.0  3.0   NaN  4.0
b   NaN  NaN   NaN  NaN
a   2.0  0.0   NaN  1.0

In [10]:
import pandas as pd

games = pd.read_csv(r'C:\Users\dell\Desktop\img\vgsalesGlobale.csv')

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [11]:
games = games.drop(index=2)

In [12]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [13]:
games.reindex(range(1000))

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1.0,Syrup - Monin - Passion Fruit,Nintendo Switch,2008.0,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2.0,Yams,Nintendo Switch,2010.0,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Gherkin,Xbox One,2016.0,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5.0,Pastry - French Mini Assorted,Nintendo Switch,2020.0,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996.0,Shrimp - Black Tiger 16/20,Xbox One,1985.0,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997.0,Muffin Mix - Morning Glory,Xbox One,2011.0,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998.0,Muffin Orange Individual,PS4,1996.0,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999.0,Sage - Ground,PS4,1997.0,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000.0,Cheese - Swiss Sliced,Xbox One,1996.0,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [14]:
games.reindex(range(1000), method='ffill')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [15]:
games.reindex(range(1000), method='bfill')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [16]:
import pandas as pd

games = pd.read_csv(r'C:\Users\dell\Desktop\img\vgsalesGlobale.csv')

games = games.drop(index=2)

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [17]:
games.loc[2] = [3, 'Muffin Orange Individua','PS4',1996, 'Action', 'Topicstorm',  19.89, 27.42, 4.02, 4.12, 0.65]

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50
2,3,Muffin Orange Individua,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65

In [18]:
import pandas as pd

games = pd.read_csv(r'C:\Users\dell\Desktop\img\vgsalesGlobale.csv')

games = games.drop(index=2)

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [19]:
games = games.reindex(range(len(games)+1), fill_value=0)

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [20]:
games.loc[2] = [3, 'Muffin Orange Individua','PS4',1996, 'Action', 'Topicstorm',  19.89, 27.42, 4.02, 4.12, 0.65]

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,Muffin Orange Individua,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [21]:
ser=pd.Series(np.arange(5.),
            index=["a","b","c","d","e"])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [22]:
ser.drop('b')

a    0.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [23]:
ser.drop(['a', 'b'])

c    2.0
d    3.0
e    4.0
dtype: float64

In [24]:
df=pd.DataFrame(data=np.arange(16).reshape(4,4),
                  index=["Kate","Tim",
                         "Tom","Alex"],
                  columns=list("ABCD"))
df

       A   B   C   D
Kate   0   1   2   3
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [25]:
df.drop(index = "Kate")

       A   B   C   D
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [26]:
df.drop("Kate")

       A   B   C   D
Tim    4   5   6   7
Tom    8   9  10  11
Alex  12  13  14  15

In [27]:
import pandas as pd

games = pd.read_csv(r'C:\Users\dell\Desktop\img\vgsalesGlobale.csv')

games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [28]:
games.drop(index=0)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [39]:
games.drop(index=0, axis=0)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [29]:
games.drop(0)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [30]:
games.drop([0, 5])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
6,7,Nantucket Pine Orangebanana,Xbox One,2017,Action,Gabcube,39.17,9.58,6.28,9.55,8.11
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [32]:
games.drop('Name', axis=1)

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...
995,996,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [34]:
games.drop(columns='Name')

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...
995,996,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [40]:
games.drop(columns = ["Year", 'Name'])

,Rank,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Nintendo Switch,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Nintendo Switch,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,PS4,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Xbox One,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Nintendo Switch,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...
995,996,Xbox One,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Xbox One,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,PS4,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,PS4,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Xbox One,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [42]:
games.drop(columns = games.loc[:, ["Year", 'Name']])

,Rank,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Nintendo Switch,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Nintendo Switch,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,PS4,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Xbox One,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Nintendo Switch,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...
995,996,Xbox One,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Xbox One,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,PS4,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,PS4,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Xbox One,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [131]:
games.drop(index=[0:5], columns = ["Name", "Year"])

SyntaxError: invalid syntax (1429884703.py, line 1)

In [132]:
games.drop(index = games.index[0:5], columns=["Name", "Year"])

,Rank,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5,6,Nintendo Switch,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
6,7,Xbox One,Action,Gabcube,39.17,9.58,6.28,9.55,8.11
7,8,PS4,Action,Gigashots,47.41,22.16,9.29,7.15,5.76
8,9,PS4,Sports,Myworks,23.07,2.96,10.13,3.36,5.20
9,10,Nintendo Switch,Action,Chatterbridge,38.89,26.25,3.89,9.17,0.97
...,...,...,...,...,...,...,...,...,...
995,996,Xbox One,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Xbox One,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,PS4,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,PS4,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Xbox One,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [134]:
games.index

RangeIndex(start=0, stop=1000, step=1)

In [135]:
games.index[0:5]

RangeIndex(start=0, stop=5, step=1)

In [136]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [137]:
games["Name"] == 'Yams'

0      False
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Name, Length: 1000, dtype: bool

In [138]:
games[games["Name"] == 'Yams']

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
765,766,Yams,Xbox One,2021,Action,Voonix,34.92,15.81,0.71,7.41,5.38

In [139]:
games[games["Name"] == 'Yams'].index

Index([1, 765], dtype='int64')

In [140]:
games.drop(index=games[games["Name"] == 'Yams'].index)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [144]:
games.loc[games.loc[:, "Name"] == 'Yams', :].index

Index([1, 765], dtype='int64')

In [146]:
games[(games["Name"] == 'Yams') | (games["Year"] == 2008)].index

Index([  0,   1,  33,  75,  78, 145, 175, 176, 199, 205, 293, 303, 327, 349,
       355, 456, 462, 468, 514, 566, 622, 657, 666, 732, 765, 783, 836, 855,
       857, 866, 925, 953, 989],
      dtype='int64')

In [149]:
games.drop(index = games[(games["Name"] == 'Yams') | (games["Year"] == 2008)].index)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
5,6,Pastry - Banana Muffin - Mini,Nintendo Switch,1994,Sports,Myworks,62.13,8.62,7.69,0.72,5.06
6,7,Nantucket Pine Orangebanana,Xbox One,2017,Action,Gabcube,39.17,9.58,6.28,9.55,8.11
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [154]:
midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
                             ['speed', 'weight', 'length']],
                     codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                            [0, 1, 2, 0, 1, 2, 0, 1, 2]])
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                  data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
                        [250, 150], [1.5, 0.8], [320, 250],
                        [1, 0.8], [0.3, 0.2]])
df

                 big  small
llama  speed    45.0   30.0
       weight  200.0  100.0
       length    1.5    1.0
cow    speed    30.0   20.0
       weight  250.0  150.0
       length    1.5    0.8
falcon speed   320.0  250.0
       weight    1.0    0.8
       length    0.3    0.2

In [155]:
df.drop(index='length', level=1)

                 big  small
llama  speed    45.0   30.0
       weight  200.0  100.0
cow    speed    30.0   20.0
       weight  250.0  150.0
falcon speed   320.0  250.0
       weight    1.0    0.8

In [172]:
games

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Syrup - Monin - Passion Fruit,Nintendo Switch,2008,Action,Devshare,82.51,20.44,8.39,10.16,7.01
1,2,Yams,Nintendo Switch,2010,Sports,Muxo,7.43,8.40,9.66,3.07,6.33
2,3,"Pepsi, 355 Ml",PS4,1985,Sports,Eidel,17.50,17.96,7.15,4.74,5.63
3,4,Gherkin,Xbox One,2016,Action,Mynte,13.05,5.60,5.64,6.97,1.23
4,5,Pastry - French Mini Assorted,Nintendo Switch,2020,Shooter,Quinu,16.92,24.00,5.59,5.16,3.66
...,...,...,...,...,...,...,...,...,...,...,...
995,996,Shrimp - Black Tiger 16/20,Xbox One,1985,Sports,Edgewire,77.09,3.36,0.69,10.33,0.34
996,997,Muffin Mix - Morning Glory,Xbox One,2011,Shooter,Skyba,5.14,8.72,4.02,7.42,8.20
997,998,Muffin Orange Individual,PS4,1996,Action,Topicstorm,19.89,27.42,4.02,4.12,0.65
998,999,Sage - Ground,PS4,1997,Sports,Jabbertype,38.59,7.22,6.20,3.71,0.09
999,1000,Cheese - Swiss Sliced,Xbox One,1996,Action,Voonyx,58.61,21.83,5.89,2.65,0.50

In [173]:
games.loc[:, "NA_Sales"].mean()

41.32511

In [174]:
games.loc[:, ["NA_Sales", 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].mean()

NA_Sales        41.32511
EU_Sales        14.14252
JP_Sales         5.07435
Other_Sales      5.36047
Global_Sales     5.34844
dtype: float64

In [175]:
games.loc[:, ["NA_Sales", 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].mean(axis=0)

NA_Sales        41.32511
EU_Sales        14.14252
JP_Sales         5.07435
Other_Sales      5.36047
Global_Sales     5.34844
dtype: float64

In [184]:
games.loc[:, ["NA_Sales", 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].mean(axis='index')

NA_Sales        41.32511
EU_Sales        14.14252
JP_Sales         5.07435
Other_Sales      5.36047
Global_Sales     5.34844
dtype: float64

In [183]:
games.loc[:, ["NA_Sales", 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].mean(axis=1)

0      25.702
1       6.978
2      10.596
3       6.498
4      11.066
        ...
995    18.362
996     6.700
997    11.220
998    11.162
999    17.896
Length: 1000, dtype: float64

In [185]:
games.loc[:, ["NA_Sales", 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].mean(axis='columns')

0      25.702
1       6.978
2      10.596
3       6.498
4      11.066
        ...
995    18.362
996     6.700
997    11.220
998    11.162
999    17.896
Length: 1000, dtype: float64

In [188]:
np.array([82.51, 20.44, 8.39, 10.16, 7.01]).mean()

25.701999999999998