In [1]:
import pandas as pd; import numpy as np

In [2]:
pd.to_datetime('15/08/2019')

C:\Users\dell\AppData\Local\Temp\ipykernel_5836\2785701148.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime('15/08/2019')

Timestamp('2019-08-15 00:00:00')

In [57]:
date=[datetime(2020,7,5),
     "11th of July, 2020",
     "2020-Jul-3",
     "20200708"]

In [58]:
pd.to_datetime(date)

DatetimeIndex(['2020-07-05', '2020-07-11', '2020-07-03', '2020-07-08'], dtype='datetime64[ns]', freq=None)

In [61]:
pd.to_datetime("03/05/2019")

Timestamp('2019-03-05 00:00:00')

In [62]:
pd.to_datetime("03/05/2019", dayfirst=True)

Timestamp('2019-05-03 00:00:00')

In [64]:
pd.to_datetime("05*03*2019", format='%d*%m*%Y')

Timestamp('2019-03-05 00:00:00')

In [65]:
pd.to_datetime("05$03$2019", 
               format="%d$%m$%Y")

Timestamp('2019-03-05 00:00:00')

In [66]:
date=["2019-01-05",
     "jan 6, 2019",
     "7/05/2019",
     "2019/01/9",
     "20190110"]

In [70]:
pd.to_datetime(date, errors='ignore')

Index(['2019-01-05', 'jan 6, 2019', '7/05/2019', '2019/01/9', '20190110'], dtype='object')

In [71]:
date=[datetime(2020,7,5),
     "11th of July, 2020",
     "2020-Jul-3",
     "20200708", 'xyz']

In [72]:
pd.to_datetime(date)

DateParseError: Unknown datetime string format, unable to parse: xyz, at position 4

In [73]:
pd.to_datetime(date, errors='ignore')

Index([2020-07-05 00:00:00, '11th of July, 2020', '2020-Jul-3', '20200708',
       'xyz'],
      dtype='object')

In [75]:
pd.to_datetime(date, errors='coerce')

DatetimeIndex(['2020-07-05', '2020-07-11', '2020-07-03', '2020-07-08', 'NaT'], dtype='datetime64[ns]', freq=None)

In [76]:
t = 1000000000

In [77]:
pd.to_datetime(t, unit='s')

Timestamp('2001-09-09 01:46:40')

In [83]:
pd.to_datetime(t, unit='ms')

Timestamp('1970-01-12 13:46:40')

In [85]:
pd.date_range('2010-01-01', '2010-01-03', freq='4h')

DatetimeIndex(['2010-01-01 00:00:00', '2010-01-01 04:00:00',
               '2010-01-01 08:00:00', '2010-01-01 12:00:00',
               '2010-01-01 16:00:00', '2010-01-01 20:00:00',
               '2010-01-02 00:00:00', '2010-01-02 04:00:00',
               '2010-01-02 08:00:00', '2010-01-02 12:00:00',
               '2010-01-02 16:00:00', '2010-01-02 20:00:00',
               '2010-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [87]:
pd.date_range('2010-01-01', '2010-09-03', freq='WOM-4SUN')

DatetimeIndex(['2010-01-24', '2010-02-28', '2010-03-28', '2010-04-25',
               '2010-05-23', '2010-06-27', '2010-07-25', '2010-08-22'],
              dtype='datetime64[ns]', freq='WOM-4SUN')

In [94]:
p=pd.Period(2020)
p

Period('2020', 'A-DEC')

In [95]:
dir(p)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [98]:
p.start_time

Timestamp('2020-01-01 00:00:00')

In [99]:
p.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [113]:
a = pd.Period(value='2020', freq="M")
a

Period('2020-01', 'M')

In [114]:
a.start_time

Timestamp('2020-01-01 00:00:00')

In [115]:
a.end_time

Timestamp('2020-01-31 23:59:59.999999999')

In [116]:
a

Period('2020-01', 'M')

In [117]:
a+5

Period('2020-06', 'M')

In [118]:
a-3

Period('2019-10', 'M')

In [119]:
p

Period('2020', 'A-DEC')

In [121]:
p-pd.Period('2015')

In [122]:
rng=pd.period_range(
    "2019-01-01","2019-08-30",freq="M")
rng

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08'],
            dtype='period[M]')

In [128]:
pd.Series(range(len(rng)), index=rng)

2019-01    0
2019-02    1
2019-03    2
2019-04    3
2019-05    4
2019-06    5
2019-07    6
2019-08    7
Freq: M, dtype: int64

In [130]:
p = pd.Period(2019, freq="A-DEC")
p

Period('2019', 'A-DEC')

In [143]:
p.asfreq('M', how='start')

Period('2019-01', 'M')

In [144]:
p.asfreq('M', how='end')

Period('2019-12', 'M')

In [147]:
p = pd.Period('2019Q4', freq='Q-dec')
p

Period('2019Q4', 'Q-DEC')

In [148]:
p = pd.Period('2019Q4', freq='Q-FEB')
p

Period('2019Q4', 'Q-FEB')

In [149]:
p.start_time

Timestamp('2018-12-01 00:00:00')

In [150]:
p.end_time

Timestamp('2019-02-28 23:59:59.999999999')

In [151]:
p.asfreq('D', 'start')

Period('2018-12-01', 'D')

In [152]:
rng=pd.period_range(
    "2019Q3","2020Q4", freq="Q-JAN")
rng

PeriodIndex(['2019Q3', '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4'], dtype='period[Q-JAN]')

In [153]:
rng.month

Index([10, 1, 4, 7, 10, 1], dtype='int64')

In [155]:
ts = pd.Series(range(len(rng)), index=rng)
ts

2019Q3    0
2019Q4    1
2020Q1    2
2020Q2    3
2020Q3    4
2020Q4    5
Freq: Q-JAN, dtype: int64

In [165]:
rng=pd.date_range(
    "2020-01-01", periods=5, freq="M")
rng

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

In [166]:
ts = pd.Series(range(len(rng)), index=rng)
ts

2020-01-31    0
2020-02-29    1
2020-03-31    2
2020-04-30    3
2020-05-31    4
Freq: M, dtype: int64

In [167]:
ts.index

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

In [168]:
pts = ts.to_period()
pts

2020-01    0
2020-02    1
2020-03    2
2020-04    3
2020-05    4
Freq: M, dtype: int64

In [169]:
pts.index

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05'], dtype='period[M]')